{%extends "base.html" %}
{% block content %} 

<div class="text-blue-900 text-2xl text-center mt-8">
    Tasks
</div>

<!--    Add Task Button -->
<div class="flex justify-center mt-8">

    <a href="{{ url_for('add_task') }}">                
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Add Task
        </button>
    </a>
</div>

<!--    Task list Accordion -->


<div id="accordion-collapse" data-accordion="collapse" class="mt-8">
    {% for task in tasks | sort(attribute = "due_date") %}
  
    <h2 id="heading{{ task.id }}">
      <button type="button" class="flex justify-between items-center p-5 w-full font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#body{{ task.id }}" aria-expanded="false" aria-controls="body{{ task.id }}">
        
        <span><strong>{{ task.task_name }}</strong> : {{ task.due_date }} </span>
        
        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>

      </button>
    </h2>
    <div id="body{{ task.id }}" class="hidden" aria-labelledby="body{{ task.id }}">
      <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">{{ task.category }}</p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">{{ task.task_description }}</p>    

      </div>
    </div>

    {% endfor %}    
  </div>
  

{% endblock %}